<form>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Username" ng-model="ctrl.api.username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="ctrl.api.password">
  </div>

  <div class="text-center">

    <button type="button" class="btn btn-default btn-lg" ng-click="ctrl.openModal()">Create account</button>
    
    <button type="submit" class="btn btn-primary btn-lg" ng-click="ctrl.login()">Login</button>
  </div>

</form>