<div class="modal-header">
    <h3 class="modal-title">Create Account</h3>
</div>
<div class="modal-body">
    <form action="">
        <div class="form-group">
            <input type="text" class="form-control" name="username" ng-model="ctrl.api.username" placeholder="username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" ng-model="ctrl.api.password" placeholder="password">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="name" ng-model="ctrl.api.name" placeholder="name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="age" ng-model="ctrl.api.age" placeholder="age">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" name="email" ng-model="ctrl.api.email" placeholder="email">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ctrl.confirm()">Create Account</button>
    <button class="btn btn-warning" ng-click="ctrl.cancel()">Cancel</button>
</div>

